body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.red {
    color: rgb(26, 0, 173);
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding: 2%;
}

.half img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: rgb(57, 22, 255);
    font-weight: 700;
    border-radius: 5px;

}