body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.red {
    color: rgb(26, 0, 173);
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding: 2%;
}

.half img {
    width: 80%;
}