body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

.red {
    color: rgb(26, 0, 173);
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.half {
    width: 50%;
    padding: 2%;
}

.half img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: rgb(57, 22, 255);
    font-weight: 700;
    border-radius: 5px;

}

.experiance {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 10px 10px 40px grey;
}